<div class="Header px-3 px-sm-4 px-lg-5 sticky-top">
    <div class="Header-Brand">
        <h5 class=""><strong>OpenWorldX</strong></h5>

        <div class="Header-Links ms-5 mt-1 d-none d-md-flex">
            <a class="me-3 me-lg-4" href="">Home</a>
            <a class="me-3 me-lg-4 ms-2" href="">Categories</a>
            <a class="me-3 me-lg-4 ms-2" href="">Compilar</a>
            <a class="me-3 me-lg-4 ms-2" href="">About us</a>
        </div>
    </div>

    <div class="Header-Actions">
        <button><i class="bi bi-cart-plus-fill"></i></button>
        <button><i class="bi bi-chat-square-dots-fill"></i></button>
        <button><i class="bi bi-bell-fill"></i></button>
        <h4 class="me-0 ms-1">|</h4>
        <button id="Account" (click)="view_Progress()"><i class="bi bi-person-circle"></i></button>
    </div>

    <div *ngIf="expandAccount" class="Account-Status">
        <div *ngIf="defaultAction" class="Login">
            <div class="row g-0 ps-3 ps-sm-0 pe-3">
                <div class="col-0 col-sm-6 col-md-7 col-lg-8 col-xl-9">

                </div>

                <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 bg-light pt-5 pb-3 px-3 Form-Box">
                    <form #login="ngForm" (ngSubmit)="onSubmit_Login(login)">
                        <h4 class="mb-3">Sign-in</h4>

                        <div class="Form-Field">
                            <label for="email">Email</label>
                            <input type="text" name="email" placeholder="Your email" ngModel>
                        </div>

                        <div class="Form-Field mt-2 mb-3">
                            <label for="password">Password</label>
                            <input type="text" name="password" placeholder="Your password" ngModel>
                        </div>
                        
                        
                        <button class="Log-Action" type="submit">Sign in</button>

                        <h6 class="mt-3">New to OpenWorldX ? <span type="button" (click)="switchActions()">Sign-up</span></h6>
                    </form>
                </div>
            </div>
        </div>

        <div *ngIf="!defaultAction" class="Login">
            <div class="row g-0 ps-3 ps-sm-0 pe-3">
                <div class="col-0 col-sm-6 col-md-7 col-lg-8 col-xl-9">

                </div>

                <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 bg-light pt-5 pb-3 px-3 Form-Box">
                    <form #register="ngForm" (ngSubmit)="onSubmit_Register(register)">
                        <h4 class="mb-3">Sign-up</h4>

                        <div class="Form-Field">
                            <label for="name">Name</label>
                            <input type="text" name="name" placeholder="Your name" ngModel>
                        </div>

                        <div class="Form-Field mt-2">
                            <label for="email">Email</label>
                            <input type="text" name="email" placeholder="Your email" ngModel>
                        </div>

                        <div class="Form-Field mt-2">
                            <label for="password">Password</label>
                            <input type="text" name="password" placeholder="Your password" ngModel>
                        </div>
                        
                        <div class="Form-Field mt-2 mb-3">
                            <label for="confirm">Confirm Password</label>
                            <input type="text" name="confirm" placeholder="Confirm password" ngModel>
                        </div>

                        <button class="Log-Action" type="submit">Sign up</button>

                        <h6 class="mt-3">Already have an account ? <span type="button" (click)="switchActions()">Sign-in</span></h6>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
